* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: "DM Sans", sans-serif;
}


.bg-navbar {
    background: #5676E8;
}

li.nav-item {
    padding-right: 87px;
    font-weight: bold;
    font-size: x-large;
    
}


.row {
    padding: 100px;
    margin: auto;
}

.col h1 {
    font-size: 72px;
    font-weight: bold;
}

.col p{
    font-size: 24px;
    font-weight: bold;
}
.col span {
    font-size: 36px;
}

#footer {
    background: #E85959;
    height: 100px;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;  
    position: fixed;
    bottom: 0px; 
}

.profile {
    margin-right: auto;
    margin-left: auto;   
}

.badge {
    font-weight: bold;
    font-size: 36px;
    text-align: left;
}

.footer-logo ul {
    padding: 0px;
    text-align: right;
    margin-right: 50px;
}
.footer-logo li {
    display: inline-block;
    list-style: none;
    margin-right: 0px;
}

